[submodule "micropython"]
	path = deps/micropython/upstream
	url = https://github.com/micropython/micropython.git
[submodule "ports/esp32/board_common"]
	path = ports/esp32/board_common
	url = https://github.com/hectorchu/esp-board-common.git
[submodule "deps/seedsigner"]
	path = deps/seedsigner
	url = https://github.com/ltcmweb/seedsigner.git
[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/ltcmweb/secp256k1.git
